/* KODE KITA */
* {
  box-sizing: border-box;
}
.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 20px 0 20px 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.card {
  width: 500px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  border-bottom: 3px solid rgb(184, 184, 184);
  padding: 8px;
}
.card .text {
  flex: 2;
}
.button-action {
  flex: 1;
}
.button-action button {
  margin-left: 5px;
}
